import React from 'react';
import { Text, View } from 'react-native';
import styles from './{{pascalCase name}}.styles';

const {{pascalCase name}} = ({}) => {
return (
<View>
  <Text>{{pascalCase name}}</Text>
</View>
);
};

export default {{pascalCase name}};
